.page-title {
    @apply mb-2;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    color: #FFFFFF;
}

.ticket {
    cursor: pointer;
    @apply flex items-center justify-between px-8 py-4 my-2;
    background-color: #202428;
    border-radius: 20px;
    transition: all .15s;
}

.ticket:hover {
    background-color: #1a1d20;
}

.ticket-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    color: #E7E7E7;
}
.ticket-timestamp {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #b4b4b4;
}